*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.firstPage{
    background-color: rgb(8, 1, 48);
    color: aliceblue;
    width: 100%;
}

.firstSection{
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.firstSection__left{
    width: 100%;
}

.firstSection__left h2{
    font-size: 2rem;
}

.firstSection__left p{
    margin-top: 20px;
    color: rgba(255,255,255, 0.6);
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 200;
}

.firstSection__right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-image img{
    width: 100%;
}

.secondSection, 
.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.secondSection__content{
    display: flex;
    flex-direction: row;
}

